<style>

body {
  background-color: #f2f2f2;
  color: #000000;
  font-size: 1em; /* 16px */
      line-height: normal;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1{
  font-size: 2.25em; /* 36px */
}

h3 {
  font-size: 1.25em; /* 20px */
}

a {
  text-decoration: none;
}

a:link {color: #b24434} /* univisited */
a:visited {color: #177d4c} /* visited */
a:hover {color: #6e5be2} /* mouse over */
a:active {color: #b63e5c} /* selected */

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.story-text {
      line-height: 2;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
</style>
